@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--color-primario:#23ad91;
--color-primario-oscuro:#018d71;
--color-primario-claro:#e9f7f7;
--color_secundario:#fb923c;
--texto-negro: #333333;
--texto-gris:#767268;
--color-blanco:#ffffff;
--ancho-maximo:1200px;   
}
img{
width: 100%;
display: flex;
/*hh*/
}

/*fhgghgb*/
html{
scroll-behavior: none;
}
body{
scroll-behavior: none;
font-family:"Poppins", sans-serif ;
}
header{
background-image: linear-gradient(to right,rgba(23, 168, 139, 0.9),
rgba(1, 152, 122, 0.7)),url("imagenes/header.jpg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}




.contenedor-s{
max-width: var(--ancho-maximo);
margin: auto;
padding: 5rem 1rem;
}
.contenedor-nvg{
padding: 2rem 1rem;
display: flex;
align-items: center;
justify-content: space-between;}
.logo-nvg{
font-size: 1.5rem;
font-weight: 600;
color: var(--color-blanco);
}
.logo-nvg-span{
color: var(--color_secundario);
}
.links{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
}
a{text-decoration: none;}

.link{
padding: 0.5rem;
color: var(--color-primario-claro);
}
.link :hover{
color: var(--color-blanco);
}
.btn{
padding: 0.76rem 2rem;
outline: none;
font-size: 1rem;
border: none;
white-space: nowrap;
color: var(--color-blanco);
border-radius: 6px;
background-color: var(--color_secundario);
cursor: pointer;
}
.contenedor-1{
display: flex;
gap: 5rem;
align-items: center;
}
/*h*/
.contenido-A{
margin-bottom: 1rem;
font-size: 3.5rem;
max-width: 800px;
line-height: 4rem;
color: var(--color-blanco);
}
.subcontenido-A{
max-width: 600px;
color: var(--color-blanco);
margin-bottom: 2rem;
}
.btn-formulario-btn{
background-color: var(--color-primario);
transition: 0.32s;
}
.btn-formulario-btn :hover{
    background-color: var(--color-primario-oscuro);
}
.formulario-1{
width: 100%;
max-width: 350px;
}
.formulario-h1{
padding: 2rem;
gap: 1rem;
display: grid;
background-color: var(--color-blanco);
box-shadow: 5px 5px 19px rgba(0,0,0,0.2);
border-radius: 10px;
}
.formulario-h-h4{
font-size: 1.5rem;
color: var(--color-primario);
font-weight: 700;
}








.contenedor-h{
display: flex;
align-items: center;
gap: 5rem;
}
.contenedor-h h1{
margin-bottom: 1rem;
max-width: 800px;
font-size: 3.5rem;
line-height: 4rem;
color: var(--color-blanco);
}
.contenedor-h p{
margin-bottom: 2rem;
max-width: 550px;
color: var(--texto-gris);
}

.formulario-1 input{
padding: 1rem;
outline: none;
border: none;
font-size: 1rem;
color: var(--color-primario);
background-color: var(--color-primario-claro);
border-radius: 6px;
}
.formulario-1 input::placeholder{
color:  var(--color-primario);
}
.formulario-1 








.btn{
    padding: 0.8rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color:var(--color-blanco);
    background-color: var(--color_secundario);
    border-radius: 7px;
    cursor: pointer;
    }