@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color__primero: #1eaf92;
  --color__poscuro: #05a887;
  --color__pclaro: #e9f7f7;
  --color__segundo: #f78120;
  --color__texto: #333333;
  --color__parrafo: #949189;
  --color__blanco: #ffffff;
  --ancho__maximo: 1200px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
